<a href="https://colab.research.google.com/github/MarcosVCS/Projeto-Final---Engenharia-de-Dados---SoulCode/blob/main/DataProcToMySQL_Importacao_Exportacao.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**DataProc Dataset Importação**

A capacidade de processamento do Colab não foi suficiente para executar a transferência dos dados originais para o MySQL. Então, a opção foi utilizar um recurso oferecido pelo Google Cloud, o DataProc.

Essa ferramenta permite a criação de máquinas, prontas para utilização em poucos minutos (2-3 minutos), configuradas com Debian 10, Hadoop 3.2, Spark 3.1, Jupyter Notebook, etc, e com capacidade de processamento de acordo com as necessidades do projeto.

O DataProc consome muito recurso financeiro e mesmo estando em pausa os recursos financeiros continuam sendo consumidos já que os as máquinas continuam alocadas a sua disposição.

Com o objetivo de deixar os custos o mais baixo posssível, vamos utilizar o DataProc para processar apenas os dados de importação e exportação, e ao término deletaremos a máquina criada.

Após alguns testes, para checar qual o tamanho de máquina necessário para o processamento dos dados chegamos na seguinte configuração: n1-highmem-16, com 16 CPUs e 104GB de memória.

In [ ]:
!pip install pymysql

Requirement already satisfied: pymysql in /opt/conda/miniconda3/lib/python3.8/site-packages (1.0.2)
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv

In [ ]:
from sqlalchemy import create_engine

In [ ]:
import pandas as pd

In [ ]:
# Leitura dos dados originais de importação

path_imp_mun = 'gs://bc26-datasets-comex/IMP_2012-2022 (MUN).parquet'
path_imp_ncm = 'gs://bc26-datasets-comex/IMP_2012-2022 (NCM).parquet'


# Dados por município
df_imp_mun = pd.read_parquet(path_imp_mun)

# Dados por ncm
df_imp_ncm = pd.read_parquet(path_imp_ncm)

In [ ]:
df_imp_mun.head(10)

   CO_MES   SH4  CO_PAIS SG_UF_MUN   CO_MUN  KG_LIQUIDO  VL_FOB CO_ANO
0       8  8501      493        BA  2927408          65    2193   2012
1      11  8205      160        SC  4208203      124777  247680   2012
2       1  6115      160        RS  4314902        2512   37327   2012
3      12  9114      249        AM  1302603          47   39584   2012
4       7  8481      361        SP  3409502         155   58987   2012
5       8  7324      249        SP  3449904           2    2896   2012
6      10  2850      249        SP  3450308           1    2745   2012
7       3  2909      245        SP  3413009          63    1989   2012
8       9  8412      149        PR  4106902          15    1698   2012
9       2  4823      249        PR  4106902           3     413   2012

In [ ]:
db_imp = create_engine("mysql+pymysql://root:123456@35.247.247.2/comerciobr_importacao")
connection_imp = db_imp.connect()

In [ ]:
#envio do df de importação por município para a tabela imp_completa_municipio
try:
  dfsql = df_imp_mun.to_sql('imp_completa_municipio', connection_imp , if_exists='replace', index = False)
except:
  print('Erro!')
else:
  print('Tabela criada com sucesso')

Tabela criada com sucesso

In [ ]:
#envio do df de importação por NCM para a tabela imp_completa_ncm
try:
  dfsql = df_imp_ncm.to_sql('imp_completa_ncm', connection_imp , if_exists='replace', index = False)
except:
  print('Erro!')
else:
  print('Tabela criada com sucesso')

Tabela criada com sucesso

In [ ]:
#encerrar a conexão com banco comerciobr_importacao
connection_imp.close()
db_imp.dispose()

# **DataProc Dataset Exportação**

O mesmo código utilizado anteriormente foi ajustado com os dados do dataset de exportação e executado no Jupyter, na máquina criada no DataProc.

In [ ]:
!pip install pymysql

Requirement already satisfied: pymysql in /opt/conda/miniconda3/lib/python3.8/site-packages (1.0.2)
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv

In [ ]:
from sqlalchemy import create_engine

In [ ]:
import pandas as pd

In [ ]:
# Leitura dos dados originais de importação

path_exp_mun = 'gs://bc26-datasets-comex/comex-original-parquet/EXP_COMPLETA_(MUN).parquet'
path_exp_ncm = 'gs://bc26-datasets-comex/comex-original-parquet/EXP_COMPLETA_(NCM).parquet'

# Dados por município
df_exp_mun = pd.read_parquet(path_exp_mun)

# Dados por ncm
df_exp_ncm = pd.read_parquet(path_exp_ncm)

In [ ]:
df_exp_mun.head(10)

In [ ]:
db_exp = create_engine("mysql+pymysql://root:123456@35.247.247.2/comerciobr_exportacao")
connection_exp = db_exp.connect()

In [ ]:
#envio do df de exportação por município para a tabela exp_completa_municipio
try:
  dfsql = df_exp_mun.to_sql('exp_completa_municipio', connection_exp , if_exists='replace', index = False)
except:
  print('Erro!')
else:
  print('Tabela criada com sucesso')

Tabela criada com sucesso

In [ ]:
#envio do df de exportação por ncm para a tabela exp_completa_ncm
try:
  dfsql = df_exp_ncm.to_sql('exp_completa_ncm', connection_exp , if_exists='replace', index = False)
except:
  print('Erro!')
else:
  print('Tabela criada com sucesso')

Tabela criada com sucesso

In [ ]:
#encerrar a conexão com banco comerciobr_exportacao
connection_exp.close()
db_exp.dispose()